[submodule "s-cli"]
	path = s-cli
	url = https://github.com/zquestz/s.git
[submodule "topgrade"]
	path = topgrade
	url = https://github.com/r-darwish/topgrade.git
[submodule "Tab-Session-Manager"]
	path = Tab-Session-Manager
	url = https://github.com/sienori/Tab-Session-Manager.git
[submodule "bat"]
	path = bat
	url = https://github.com/sharkdp/bat.git
[submodule "scoop"]
	path = scoop
	url = https://github.com/lukesampson/scoop.git
[submodule "choco"]
	path = choco
	url = https://github.com/chocolatey/choco.git
[submodule "fzf"]
	path = fzf
	url = https://github.com/junegunn/fzf.git
[submodule "lsd"]
	path = lsd
	url = https://github.com/Peltoche/lsd.git
[submodule "jq"]
	path = jq
	url = https://github.com/stedolan/jq.git
[submodule "gitomatic"]
	path = gitomatic
	url = https://github.com/muesli/gitomatic.git
[submodule "CloneApp"]
	path = CloneApp
	url = git@github.com:builtbybel/CloneApp.git
